@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Pahul Sidhu (A01310077)</h1>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-page="/CityPages/Index">Cities</a>
        <a class="nav-link text-dark" asp-area="" asp-page="/ProvincePages/Index">Provinces</a>
    </div>
</div>
